.footer {
    background-color: #002851;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.nav {
    margin: 5px;
    font-size: 20px;
}

/* .footer-content {
    position: absolute;
} */

li {
    color: white;
    list-style: none;
}

li:hover {
    text-decoration: underline solid white;
}

.logo{
    height: 100px;
    width: 100px;
    float: left;
}