.header-items{
    background-color: #78A7C4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pages{
    margin: 5px;
    color:#002851;
}

.logo{
    height: 100px;
    width: 100px;
    float: left;
}

.header{
    margin-top: -20px;
}


@media (max-width: 420px){
    .bar{
        display: none;
    }
}

@media(max-width: 830px) and (min-width: 500px){
    .pages{
        font-size: 200%;
    }
}