.pawprint {
    width: 15px;
    height: 15px;
    display: inline;
    margin: 0 10px
}

.container {
    display: flex;
    margin: 0 0 25px 0;
}

.content {
    flex: 1;
    border: 3px dotted burlywood;
    background-color: bisque;
    border-radius: 10px;
}

.content:first-child {
   margin: 0 20px;
}

.content:last-child {
    margin: 0 20px;
}

.wireframe {
    width: 450px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    border: 2px solid rosybrown;
    border-radius: 10px;
}

.plan {
    margin: 10px;
    color: rosybrown;
    list-style: inside url('./pawprint-small.png');
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.photo {
    width: 600px;
    height: 400px;
    display: inline-block;
    margin: 10px;
    border: 2px solid rosybrown;
    border-radius: 10px;
}

@media(max-width:400px){
    .container{
        flex-direction: column;
    }
    .wireframe{
        width:80vw;
    }
}