.form{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    align-items: center;
    align-content: center;
    margin: auto;
}

.input{
    margin: 5px;
    border: 2px solid burlywood;
    background-color: bisque;
    border-radius: 10px;
    color: #78A7C4;
    font-weight: bold;
    padding: 1rem;

}


.link {
    color: #78A7C4;
    text-decoration: underline;
    font-weight: 600;
}

.signin, .signinButton {
    font-size: 15px;
}

button{
    font: 20px;
    
}

h2{
    color: #002851;
}

.pawprint {
    width: 15px;
    height: 15px;
    display: inline;
    margin: 0 10px
}

.signinButton{
    border: 2px solid burlywood;
    background-color: bisque;
    border-radius: 10px;
    color: #78A7C4;
    font-weight: bold;
    padding: .75rem;
}
