body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name{
  font-weight: bold;
}

.card-image{
  max-height: 100px;
}

@media (min-width: 600px) {
  .gallery {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  
  .gallery {
    column-count: 3;
    padding: 2rem;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}